.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.main {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  padding-bottom: calc(var(--nav-height) + 20px); /* Space for navbar */
}
